@model List<Mascota>

@using MvcNetCoreSession.Helpers
@{
    Mascota mascota = 
     Context.Session.GetObject<Mascota>("MASCOTAOBJECT");
}

<h1>Ejemplos Session</h1>

@if (Model != null){
    <h1 style="color:blue">Mascotas recuperadas: @Model.Count</h1>
}else{
    <h1 style="color:red">No tenemos mascotas del Helper</h1>
}


@if (mascota != null){
    <h2 style="color:red">
        @mascota.Nombre, @mascota.Raza, @mascota.Edad
    </h2>
}

<h2 style="color:blue">
    @Context.Session.GetString("nombre")
</h2>

<h2 style="color:red">
    @Context.Session.GetString("hora")
</h2>

<ul class="list-group">
    <li class="list-group-item">
        <a asp-controller="EjemploSession"
            asp-action="SessionSimple">
            Session simple        
        </a>
    </li>
    <li class="list-group-item list-group-item-warning">
        <a asp-controller="EjemploSession"
           asp-action="SessionMascotaObject">
            Session Mascota Object
        </a>
    </li>
    <li class="list-group-item list-group-item-danger">
        <a asp-controller="EjemploSession"
           asp-action="SessionMascotaCollection">
            Session Mascota Collection
        </a>
    </li>
    <li class="list-group-item">
        <a asp-controller="EjemploSession"
           asp-action="SessionMascotaJson">
            Session Mascota Json
        </a>
    </li>
    <li class="list-group-item">
        <a asp-controller="EjemploSession"
           asp-action="SessionMascota">
            Session Binary
        </a>
    </li>
    <li class="list-group-item">
        <a asp-controller="EjemploSession"
           asp-action="SessionCollection">
            Session Collection
        </a>
    </li>
</ul>