@model IEnumerable<MvcNetCoreSession.Models.Mascota>

@{
    ViewData["Title"] = "SessionMascotaCollection";
}

<p>
    <a asp-controller="EjemploSession"
       asp-action="SessionMascotaCollection"
       asp-route-accion="almacenar">
        Almacenar colección Mascotas
    </a>
</p>
<p>
    <a asp-controller="EjemploSession"
       asp-action="SessionMascotaCollection"
       asp-route-accion="mostrar">
        Almacenar colección Mascotas
    </a>
</p>
<h1>Session Collection</h1>

<h3>@ViewData["MENSAJE"]</h3>
@if (Model != null)
{
    <table class="table table-bordered table-warning">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Raza)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Edad)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Raza)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Edad)
                    </td>
                </tr>
            }
        </tbody>
    </table>
}


